.ticket {
    max-width: 502px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 20px 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
  
    &Header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  
    &Price {
      color: #2196F3;
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  .ticket:hover {
    box-shadow: 0px 2px 8px 0px #2196F3;
  }
  
  @media (max-width: 320px) {
    .ticket {
      padding: 12px 10px 1px;
      margin-bottom: 12px;
  
      &Header {
        margin-bottom: 12px;
      }
  
      &Price {
        font-size: 18px;
        margin: 0;
      }
    }
  
    img {
      width: 90px;
      height: 29px;
    }
  }